@model IEnumerable<ZlatnaRekolta.Data.Order>

@{
	ViewData["Title"] = "Количка";
}

<h1>Количка</h1>

<table class="table">
	<thead>
		<tr>
			@if (User.IsInRole("Admin"))
			{
				<th>
					Клиент
				</th>
			}
			<th>
				Артикул
			</th>
			<th>
				Количество
			</th>
			<th>
				Описание
			</th>
			@if (User.IsInRole("Admin"))
			{
				<th>
					@Html.DisplayNameFor(model => model.RegisterOn)
				</th>
			}
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				@if (User.IsInRole("Admin"))
				{
					<td>
						@Html.DisplayFor(modelItem => item.Users.UserName)
					</td>
				}
				<td>
					@Html.DisplayFor(modelItem => item.Products.Name)
				</td>
				<td>

					@Html.DisplayFor(modelItem => item.Quantity)  @Html.DisplayFor(modelItem => item.Products.UnitOfMe)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				@if (User.IsInRole("Admin"))
				{
					<td>
						@Html.DisplayFor(modelItem => item.RegisterOn)
					</td>
				}
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id" asp-route-unim="@item.Products.UnitOfMe">Редактирай</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
				</td>
			</tr>
		}
	</tbody>
</table>
