 @model ZlatnaRekolta.Data.Product

@{
    ViewData["Title"] = "Изтриване";
}

<h1 class="text-danger">Изтриване на продукт</h1>

<h4>Сигурни ли сте, че искате да изтриете продукта:</h4>
<hr />
<div class="card shadow p-4 bg-light">
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="@Model.URLimage" class="img-fluid rounded" alt="Product Image" style="max-height:250px;" />
        </div>
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-4">Наименование:</dt>
                <dd class="col-sm-8">@Model.Name</dd>

                <dt class="col-sm-4">Категория:</dt>
                <dd class="col-sm-8">@Model.Categories?.Name</dd>

                <dt class="col-sm-4">Произход:</dt>
                <dd class="col-sm-8">@Model.Origins?.Name</dd>

                <dt class="col-sm-4">Дистрибутор:</dt>
                <dd class="col-sm-8">@Model.Distributors?.Name</dd>

                <dt class="col-sm-4">Описание:</dt>
                <dd class="col-sm-8">@Model.Description</dd>

                <dt class="col-sm-4">Цена:</dt>
                <dd class="col-sm-8">@Model.Price лв./@Model.UnitOfMe</dd>

                <dt class="col-sm-4">Количество:</dt>
                <dd class="col-sm-8">@Model.Quantity</dd>

                <dt class="col-sm-4">Регистриран на:</dt>
                <dd class="col-sm-8">@Model.DateRegister.ToShortDateString()</dd>
            </dl>
        </div>
    </div>
</div>

<br />
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">
        🗑 Потвърди изтриването
    </button>
    <a asp-action="Index" class="btn btn-dark ms-2">
        Назад към списъка
    </a>
</form>
