@model IEnumerable<ZlatnaRekolta.Data.Origin>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<!-- Бутон за извличане и записване на държави -->
<p>
    <form asp-action="Scrape" method="post">
        <button type="submit" class="btn btn-success">Обнови държавите</button>
    </form>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Наименование
                @* @Html.DisplayNameFor(model => model.Name) *@
            </th>
            <th>
                Описание
                @* @Html.DisplayNameFor(model => model.Description) *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>

                    <a asp-action="Delete" asp-route-id="@item.Id">Изтрий</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
