@model ZlatnaRekolta.Data.Basket

@{
    ViewData["Title"] = "Изтриване";
}

<h1 class="text-danger">Отказване на поръчка</h1>

<h4>Сигурни ли сте, че искате да откажете следната поръчка?</h4>
<hr />
<div class="card shadow p-4 bg-light">
    <dl class="row">
        <dt class="col-sm-4">Потребител:</dt>
        <dd class="col-sm-8">@Model.Users?.FirstName @Model.Users?.LastName</dd>

        <dt class="col-sm-4">Продукт:</dt>
        <dd class="col-sm-8">@Model.Products?.Name</dd>

        <dt class="col-sm-4">Количество:</dt>
        <dd class="col-sm-8">@Model.Quantity</dd>

        <dt class="col-sm-4">Описание:</dt>
        <dd class="col-sm-8">@Model.Description</dd>

        <dt class="col-sm-4">Дата на добавяне:</dt>
        <dd class="col-sm-8">@Model.RegisterOn.ToShortDateString()</dd>
    </dl>
</div>

<br />
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">
        🗑 Потвърди отказването
    </button>
    <a asp-action="Index" class="btn btn-dark ms-2">
        Назад към списъка
    </a>
</form>
